 <?xml version="1.0"?>

<robot name="cartesian_plotter">
  <link name="world"/>

  <link name="base_link">
    <visual>
     <material name="black">
       <color rgba="0 0 0 1"/>
      </material>

      <origin xyz="0 0 0" rpy="0 0 0"/>
   

      <geometry>
    
        <mesh filename="file:///home/vaibhav/programming_projects/Robotics/Cartesian_ploter/Meshes/base_link_NEW.stl"
              scale=".01 .01 .01"  />

      </geometry>
    </visual>
  
     <!-- <collision>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size=".5 .5 .5"/>
      </geometry>

      </collision>
      -->

    <inertial>
    
    <mass value="1.0"/>

    <origin xyz="0 0 0" rpy="0 0 0"/>

    <inertia ixx="1" ixy="0" ixz="0"
             iyy="1" iyz="0" izz="1" />
    
    </inertial>

  </link>



  <link name="z_rail">
    <visual>
     <material name="black">
       <color rgba="0 0 0 1"/>
      </material>

      <origin xyz="0.05471 -0.07471 0.10487" rpy="0 0 0"/>
   

      <geometry>
    
        <mesh filename="file:///home/vaibhav/programming_projects/Robotics/Cartesian_ploter/Meshes/z_cartilage_NEW.stl"
              scale=".01 .01 .01"  />

      </geometry>
    </visual>
  
     <!-- <collision>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size=".5 .5 .5"/>
      </geometry>

      </collision>
      -->

    <inertial>
    
    <mass value="1.0"/>

    <origin xyz="0 0 0" rpy="0 0 0"/>

    <inertia ixx="1" ixy="0" ixz="0"
             iyy="1" iyz="0" izz="1" />
    
    </inertial>

  </link>

  <link name="X_Rail">
    <visual>
     
     
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
      <origin xyz="-0.04 -0.425 0.05" rpy="0 0 0"/>
      
      <geometry>

        <mesh filename="file:///home/vaibhav/programming_projects/Robotics/Cartesian_ploter/Meshes/x_rail_NEW.stl"
              scale=".01 .01 .01"/>

      </geometry>

    </visual>

     <!-- <collision>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size=".5 .5 .5"/>
      </geometry>

      </collision>
-->

    <inertial>

      <mass value="1.0"/>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
               iyy="0.1" iyz="0.0" izz="0.1"/>

    </inertial>

  </link>

  <link name="Y_rail">
    <visual>
        
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    
   
      <origin xyz="0.03 -0.0124 0.095" rpy="0 0 0"/>

      <geometry>
      <mesh filename="file:///home/vaibhav/programming_projects/Robotics/Cartesian_ploter/Meshes/y_slider_NEW.stl"
              scale=".01 .01 .01"/> 
      </geometry>
    </visual>

    
     <!-- <collision>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size=".5 .5 .5"/>
      </geometry>

      </collision>
-->
      <inertial>

        <mass value="1.0"/>

        <origin xyz="0 0 0" rpy="0 0 0"/>

        <inertia ixx="0.1" ixy="0.0" ixz="0.0"
            iyy="0.1" iyz="0.0"
            izz="0.1"/>

       </inertial>
  
  
  </link>

  <link name="pen_and_holder">
    <visual>
        
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    
   
      <origin xyz="0.0897 -0.0666 0.0670" rpy="0 0 0"/>

      <geometry>
      <mesh filename="file:///home/vaibhav/programming_projects/Robotics/Cartesian_ploter/Meshes/pen_holder_NEW.stl"
              scale=".01 .01 .01"/> 
      </geometry>
    </visual>

    
     <!-- <collision>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size=".5 .5 .5"/>
      </geometry>

      </collision>
      -->
      <inertial>

        <mass value="1.0"/>

        <origin xyz="0 0 0" rpy="0 0 0"/>

        <inertia ixx="0.1" ixy="0.0" ixz="0.0"
            iyy="0.1" iyz="0.0"
            izz="0.1"/>

       </inertial>
  
  
  </link>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_to_x" type="fixed">
    <parent link="base_link"/>
    <child link="X_Rail"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="x_to_y" type="fixed">
    <parent link="X_Rail"/>
    <child link="Y_rail"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="y_to_z" type="fixed">
    <parent link="Y_rail"/>
    <child link="z_rail"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> 

  <joint name="z_to_pen" type="fixed">
    <parent link="z_rail"/>
    <child link="pen_and_holder"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


</robot>